body * {
    box-sizing: border-box !important;
}

textarea {
    display: block;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    position: fixed;
    border: 0px solid transparent;
}

html,
body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    height: 100vh;
    width: 100vw;
}
